* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(0, 0, 0);
}

body {
  width: 100vw;
  height: 100vh;
}

#calculatorFrame {
  margin-top: 10%;
  margin-bottom: 26.5vh;
  box-shadow: 0 0 5px 1px rgb(255, 153, 0), 0 -5px 10px 1px rgb(255, 153, 0);
}

#displayBot,
#displayTop {
  font-size: 18px;
  text-align: end;
  color: white;
  background-color: black;
  padding: 5px;
}

#displayContainer > p {
  height: 30px;
}

#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("./backgrounds/19Nx.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#buttonsContainer {
  display: grid;
  width: 275px;
  height: 300px;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
  grid-template-areas:
    "power squareRoot delete clear"
    "seven eight nine backtick"
    "four five six star"
    "one two three minus"
    "aZero comma equals plus";
}

#buttonsContainer > button {
  border: none;
  font-size: 18px;
  font-weight: bolder;
  color: rgb(255, 239, 210);
  background-color: rgb(97, 63, 0);
}

#buttonsContainer > button:hover {
  background-color: rgb(133, 86, 0);
}

#buttonsContainer > button:active {
  background: rgb(202, 121, 0);
  border: none;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#zero {
  grid-area: aZero;
}

#plus {
  grid-area: plus;
}

#minus {
  grid-area: minus;
}

#star {
  grid-area: star;
}

#dot {
  grid-area: comma;
}

#backtick {
  grid-area: backtick;
}

#equals {
  grid-area: equals;
}

#delete {
  grid-area: delete;
}

#clear {
  grid-area: clear;
}

#power {
  grid-area: power;
}

#squareRoot {
  grid-area: squareRoot;
}
